<meta name="fediverse:creator" content="@monkey_maniu@mstdn.io">
<script type="application/ld+json">
{
  "@type": "WebSite",
  "@id": "https://journal.maniu.eu",
  "url": "https://journal.maniu.eu",
  "name": "Maniu",
  "alternateName": ["maniu.eu", "Maniu"],
  "description": "The personal site and technical blog of Maniu",
  "inLanguage": "en-GB",
  "publisher": {
    "@id": "https://maniu.eu/"
  },
  "image": {
    "@type": "ImageObject",
    "@id": "https://maniu.eu",
    "url": "https://maniu.eu/logo.png",
    "caption": "Maniu Logo"
  }
}
</script>
